@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,100;1,100&display=swap");

.footer {
  background-color: #0e8f86;
  width: 100%;
  height: 100%;
  /* top: 399px; */
  position: relative;
}

.footer__logo {
  left: 80px;
  top: 39px;
  position: absolute;
  /* background-color: #b0b0b0; */
}
.footer__quick {
  left: 80px;
  top: 199px;
  position: absolute;
  color: #d0d0d0;
  font-size: 14px;
  font-family: Dosis;
  font-weight: 400;
  /* word-wrap: break-word; */
}
.footer__copyrightMain {
  left: 80px;
  top: 320px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
.footer__copyright {
  color: #d0d0d0;
  font-size: 14px;
  font-family: Dosis;
  font-weight: 400;
  /* word-wrap: break-word; */
}
.footer__existMain {
  left: 80px;
  top: 231px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
.footer__exist {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}
.footer__exist_h1 {
  color: white;
  font-size: 18px;
  font-family: Dosis;
  font-weight: 400;
  /* word-wrap: break-word; */
}
.footer__email {
  width: 300px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 900px;
  top: 154px;
  position: absolute;
  border-radius: 30px;
  /* border: 1px white solid; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  outline: none;
  border: 1px #e9d8d8 solid;
}

.footer__emailInput {
  outline: none;
  color: #707070;
  font-size: 16px;
  font-family: Dosis;
  font-weight: 400;
  /* word-wrap: break-word; */
}
.footer__weekly {
  width: 300px;
  left: 900px;
  top: 66px;
  position: absolute;
  color: rgb(31, 30, 30);
  font-size: 18px;
  font-family: Dosis;
  font-weight: 400;
  /* word-wrap: break-word; */
}
.footer__subMain {
  width: 300px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 900px;
  top: 223px;
  position: absolute;
  background: #52b4ae;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.footer__subMain:hover {
  background: #0e8f86;
}
.footer__subBtn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Dosis;
  font-weight: 800;
  /* word-wrap: break-word; */
}
.footer__socialMain {
  left: 80px;
  top: 240px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
  display: inline-flex;
}
.footer__socialFollow {
  color: #d0d0d0;
  font-size: 14px;
  font-family: Dosis;
  font-weight: 400;
  /* word-wrap: break-word; */
}
.footer__socialIconsMain {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.footer__iconsMain {
  width: 30px;
  height: 30px;
  position: relative;
}
.footer__icons {
  width: 24.88px;
  height: 25px;
  left: 2.56px;
  top: 2.5px;
  position: absolute;
  /* background: rgb(0, 0, 0); */
}
