.marqueeText {
  position: relative;
  white-space: nowrap;
  animation: floatText 5s infinite alternate ease-in-out;
}
@keyframes move {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}
