@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: Dosis-Regular, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Dosis-Bold";
  src: url("../src/assets/fonts/Dosis-Bold.ttf");
}

@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("../src/assets/fonts/Dosis-ExtraBold.ttf");
}
@font-face {
  font-family: "Dosis-Light";
  src: url("../src/assets/fonts/Dosis-Light.ttf");
}
@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("../src/assets/fonts/Dosis-ExtraLight.ttf");
}
@font-face {
  font-family: "Dosis-Medium";
  src: url("../src/assets/fonts/Dosis-Medium.ttf");
}
@font-face {
  font-family: "Dosis-Regular";
  src: url("../src/assets/fonts/Dosis-Regular.ttf");
}
@font-face {
  font-family: "Dosis-SemiBold";
  src: url("../src/assets/fonts/Dosis-SemiBold.ttf");
}

.marquee1 {
  background-color: transparent;
  align-items: flex-start;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  animation: marquee 15s infinite alternate ease-in-out;
  animation-play-state: running;
  top: 110%;
  transform: translate(-100%, 0%);
}
.marquee2 {
  background-color: transparent;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 10s infinite alternate ease-in-out;
  animation-play-state: running;
  top: 110%;
  transform: translate(-100%, 0%);
}

.marquee span {
  display: inline-block;
  direction: ltr;
  margin-top: 15px;
}
.text-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  gap: 1rem;
}

.left-icon,
.right-icon {
  font-size: 2rem;
  cursor: pointer;
}

/* .cardimage {
  background-image: url(../src/assets/Images/pexels-katerina-holmes-5905479\ 1.png);
} */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
